In [70]:
import pandas as pd
import numpy as np
from sklearn.cluster import KMeans
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import MinMaxScaler
pd.options.display.max_columns = 99

In [77]:
full_df = pd.read_csv("../data/lineup_stats.csv")

In [78]:
# we only need the raw numbers for clustering
columns_to_drop = ["player1","player2","player3","player4","player5","TEAM","seconds"]
df = full_df.drop(columns_to_drop, axis=1)
df.fillna(0, inplace = True)

In [79]:
# relative numbers are what is important
# not taking this into account would split the groups in high playing and low playing time
for i,r in df.iterrows():
    s = np.sum(df.iloc[i,:])
    counter = 0
    for col in r:
        df.iloc[i,counter] = col/s
        counter += 1

In [80]:
lineups_indexed = {}
for i,r in full_df.iterrows():
    lineups_indexed[i] = {}
    lineups_indexed[i]["player1"] = r["player1"]
    lineups_indexed[i]["player2"] = r["player2"]
    lineups_indexed[i]["player3"] = r["player3"]
    lineups_indexed[i]["player4"] = r["player4"]
    lineups_indexed[i]["player5"] = r["player5"]
    lineups_indexed[i]["TEAM"] = r["TEAM"]
    lineups_indexed[i]["seconds"] = r["seconds"]

In [81]:
df.head(3)

,2FGA,2FGM,3FGA,3FGM,AG,AS,CM,CMU,D,FTA,FTM,FV,O,OF,RV,ST,TO
0,0.180723,0.072289,0.060241,0.036145,0.012048,0.108434,0.048193,0.0,0.096386,0.108434,0.072289,0.024096,0.036145,0.000000,0.072289,0.036145,0.036145
1,0.138614,0.059406,0.138614,0.099010,0.029703,0.128713,0.059406,0.0,0.108911,0.039604,0.029703,0.000000,0.019802,0.009901,0.069307,0.029703,0.039604
2,0.154639,0.082474,0.134021,0.051546,0.020619,0.082474,0.051546,0.0,0.092784,0.061856,0.061856,0.010309,0.051546,0.000000,0.113402,0.020619,0.010309

In [82]:
def generate_clusters(data, n_clusters, lineups, df):
    est = KMeans(n_clusters=n_clusters)
    est.fit(data)
    for count,label in zip(range(len(list(est.labels_))),list(est.labels_)):
        lineups[count]["cluster"] = label
    df["clusters"] = est.labels_
    return lineups, df

def group_by_clusters(df):
    aggs = {'2FGA': "mean", '2FGM': "mean",
       '3FGA': "mean", '3FGM': "mean", 'AG': "mean", 'AS': "mean", 'CM': "mean", 'CMU': "mean", 'D': "mean", 'FTA': "mean", 'FTM': "mean", 'FV': "mean", 'O': "mean",
       'OF': "mean", 'RV': "mean", 'ST': "mean", 'TO': "mean"}
    g_df = df.groupby(["clusters"]).agg(aggs)
    return g_df

In [87]:
lineups_indexed, full_df = generate_clusters(df,2,lineups_indexed, full_df)
grouped_full_df = group_by_clusters(full_df)

In [88]:
grouped_full_df

,2FGA,2FGM,3FGA,3FGM,AG,AS,CM,CMU,D,FTA,FTM,FV,O,OF,RV,ST,TO
clusters,,,,,,,,,,,,,,,,,
0,24.478431,13.411765,13.054902,5.105882,1.580392,11.313725,10.266667,0.200787,13.870588,7.054902,5.372549,1.698039,6.27451,0.850980,10.898039,3.803922,6.682353
1,16.000000,8.510417,10.901042,4.343750,1.026042,8.338542,8.145833,0.177083,10.666667,12.072917,9.312500,1.119792,4.71875,0.651042,11.145833,2.984375,5.234375

In [76]:
full_df

,player1,player2,player3,player4,player5,2FGA,2FGM,3FGA,3FGM,AG,AS,CM,CMU,D,FTA,FTM,FV,O,OF,RV,ST,TEAM,TO,seconds,clusters
0,"ABALDE, ALBERTO","DOORNEKAMP, AARON","GREEN, ERICK","PLEISS, TIBOR","THOMAS, WILL",9,6,2,3,1,9,4,0.0,8,3,6,2,3,0,6,3,PAM,3,448.0,6
1,"ABALDE, ALBERTO","DUBLJEVIC, BOJAN","MARTINEZ, RAFA","SAN EMETERIO, FERNANDO","THOMAS, WILL",8,6,4,10,3,13,6,0.0,11,1,3,0,2,1,7,3,PAM,4,516.0,0
2,"ABALDE, ALBERTO","DUBLJEVIC, BOJAN","MARTINEZ, RAFA","SASTRE, JOAN","THOMAS, WILL",7,8,8,5,2,8,5,0.0,9,0,6,1,5,0,11,2,PAM,1,530.0,3
3,"ABALDE, ALBERTO","GREEN, ERICK","PLEISS, TIBOR","SAN EMETERIO, FERNANDO","THOMAS, WILL",6,5,3,3,0,4,1,0.0,5,0,2,0,3,0,6,1,PAM,4,343.0,6
4,"ABALDE, ALBERTO","GREEN, ERICK","PLEISS, TIBOR","THOMAS, WILL","VAN ROSSOM, SAM",4,5,5,3,1,3,2,0.0,8,1,4,2,3,0,5,1,PAM,2,330.0,6
5,"ABALDE, ALBERTO","GREEN, ERICK","PLEISS, TIBOR","THOMAS, WILL","VIVES, GUILLEM",3,2,6,4,0,5,6,1.0,4,2,3,0,3,1,4,3,PAM,6,341.0,2
6,"ABALDE, ALBERTO","MARTINEZ, RAFA","PLEISS, TIBOR","SASTRE, JOAN","THOMAS, WILL",5,6,4,10,1,11,10,0.0,14,0,5,2,2,1,11,1,PAM,7,485.0,7
7,"ABALDE, ALBERTO","MARTINEZ, RAFA","PLEISS, TIBOR","THOMAS, WILL","VAN ROSSOM, SAM",4,7,4,7,0,12,5,0.0,8,0,5,1,5,0,3,2,PAM,4,454.0,0
8,"ABASS, AWUDU","BERTANS, DAIRIS","GUDAITIS, ARTURAS","JERRELLS, CURTIS","M'BAYE, AMATH",5,4,3,2,1,3,3,0.0,8,3,3,1,4,0,5,1,MIL,3,307.0,6
9,"ADAMS, JOSH","BALBAY, DOGUS","DUNSTON, BRYANT","SIMON, KRUNOSLAV","STIMAC, VLADIMIR",5,4,1,4,0,3,2,0.0,8,1,1,2,1,0,6,0,IST,2,377.0,6
10,"ADAMS, JOSH","BROWN, DERRICK","DRAGIC, ZORAN","DUNSTON, BRYANT","SIMON, KRUNOSLAV",7,4,2,1,0,0,3,0.0,7,0,4,3,2,0,3,0,IST,5,328.0,6
11,"ADAMS, JOSH","DRAGIC, ZORAN","DUNSTON, BRYANT","SIMON, KRUNOSLAV","STIMAC, VLADIMIR",10,8,5,4,4,6,3,1.0,10,4,6,0,6,1,11,1,IST,3,412.0,6
12,"ADAMS, JOSH","DUNSTON, BRYANT","LEDO, RICKY","SIMON, KRUNOSLAV","STIMAC, VLADIMIR",23,25,19,8,5,13,11,1.0,23,5,9,3,15,0,18,5,IST,12,1276.0,8
13,"ADAMS, JOSH","DUNSTON, BRYANT","MOTUM, BROCK","MURIC, EDO","SIMON, KRUNOSLAV",2,5,7,4,0,7,7,0.0,7,0,2,1,1,0,3,3,IST,4,371.0,7
14,"AGRAVANIS, DIMITRIOS","MANTZARIS, VANGELIS","MCLEAN, JAMEL","PAPANIKOLAOU, KOSTAS","THOMPSON, HOLLIS",2,5,4,2,0,3,7,0.0,6,2,6,1,1,1,8,2,OLY,4,331.0,1
15,"AGRAVANIS, DIMITRIOS","MANTZARIS, VANGELIS","MCLEAN, JAMEL","PAPAPETROU, IOANNIS","STRELNIEKS, JANIS",8,2,4,3,1,4,6,0.0,7,2,3,0,2,1,9,1,OLY,5,394.0,6
16,"AGRAVANIS, DIMITRIOS","MANTZARIS, VANGELIS","MCLEAN, JAMEL","STRELNIEKS, JANIS","THOMPSON, HOLLIS",5,6,5,3,0,4,10,0.0,8,2,4,0,6,2,6,0,OLY,3,360.0,5
17,"ANDERSON, JAMES","ANDERSON, JAMES","JENKINS, CHARLES","SHVED, ALEXEY","TODOROVIC, MARKO",7,10,13,3,1,7,10,NaN,12,0,1,3,6,0,4,6,KHI,9,582.0,7
18,"ANDERSON, JAMES","GILL, ANTHONY","HONEYCUTT, TYLER","SHVED, ALEXEY","THOMAS, MALCOLM",4,9,4,3,0,6,10,0.0,12,4,1,1,0,0,8,1,KHI,6,359.0,5
19,"ANDERSON, JAMES","GILL, ANTHONY","JENKINS, CHARLES","MARKOVIC, STEFAN","ROBINSON, THOMAS",6,8,4,2,2,5,8,0.0,6,2,4,1,2,0,4,3,KHI,3,359.0,5
20,"ANDERSON, JAMES","GILL, ANTHONY","JENKINS, CHARLES","ROBINSON, THOMAS","SHVED, ALEXEY",12,6,7,4,4,8,9,0.0,9,2,8,1,9,1,5,3,KHI,3,397.0,9
21,"ANDERSON, JAMES","GILL, ANTHONY","JENKINS, CHARLES","SHVED, ALEXEY","THOMAS, MALCOLM",59,73,95,47,13,68,87,0.0,94,11,38,10,44,3,63,32,KHI,49,4947.0,2
22,"ANDERSON, JAMES","GILL, ANTHONY","MARKOVIC, STEFAN","ROBINSON, THOMAS","SHVED, ALEXEY",27,14,15,13,5,18,19,1.0,30,4,21,5,11,3,25,6,KHI,12,1446.0,6
23,"ANDERSON, JAMES","GILL, ANTHONY","MARKOVIC, STEFAN","SHVED, ALEXEY","THOMAS, MALCOLM",38,48,38,19,4,41,30,0.0,40,4,18,2,29,4,39,14,KHI,24,2569.0,0
24,"ANDERSON, JAMES","GILL, ANTHONY","MARKOVIC, STEFAN","SHVED, ALEXEY","TODOROVIC, MARKO",3,13,8,6,1,12,11,0.0,11,1,8,1,4,0,12,3,KHI,3,644.0,3
25,"ANDERSON, JAMES","JENKINS, CHARLES","MARKOVIC, STEFAN","ROBINSON, THOMAS","ZUBKOV, ANDREY",10,8,4,0,1,3,3,0.0,8,3,2,1,8,0,5,2,KHI,3,391.0,8
26,"ANDERSON, JAMES","JENKINS, CHARLES","MONIA, SERGEY","SHVED, ALEXEY","THOMAS, MALCOLM",15,9,13,6,3,11,15,0.0,20,0,8,2,6,1,11,2,KHI,7,787.0,6
27,"ANDERSON, JAMES","JENKINS, CHARLES","MONIA, SERGEY","SHVED, ALEXEY","TODOROVIC, MARKO",4,9,3,5,0,5,10,0.0,8,1,2,1,1,0,9,1,KHI,2,387.0,5
28,"ANDERSON, JAMES","MARKOVIC, STEFAN","MONIA, SERGEY","SHVED, ALEXEY","THOMAS, MALCOLM",4,9,12,5,0,10,10,0.0,16,0,12,1,3,0,14,3,KHI,4,606.0,1
29,"ANTETOKOUNMPO, ATHANASIOS","CALATHES, NICK","GIST, JAMES","PAPPAS, NIKOS","SINGLETON, CHRIS",6,11,5,3,0,6,6,0.0,5,2,5,1,3,2,9,5,PAN,4,467.0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
417,"MANTZARIS, VANGELIS","MCLEAN, JAMEL","PAPAPETROU, IOANNIS","PRINTEZIS, GEORGIOS","STRELNIEKS, JANIS",9,4,6,1,2,5,6,0.0,1,1,2,0,5,1,7,5,OLY,1,344.0,9
418,"MANTZARIS, VANGELIS","MCLEAN, JAMEL","STRELNIEKS, JANIS","THOMPSON, HOLLIS","WILTJER, KYLE",4,7,8,3,0,4,7,0.0,11,2,14,1,8,1,14,1,OLY,10,498.0,1
419,"MANTZARIS, VANGELIS","MILUTINOV, NIKOLA","PAPANIKOLAOU, KOSTAS","PRINTEZIS, GEORGIOS","SPANOULIS, VASSILIS",33,48,24,13,9,40,29,2.0,54,3,30,3,14,2,45,14,OLY,19,2203.0,4
420,"MANTZARIS, VANGELIS","MILUTINOV, NIKOLA","PAPANIKOLAOU, KOSTAS","PRINTEZIS, GEORGIOS","STRELNIEKS, JANIS",10,12,10,8,2,17,6,0.0,13,2,10,3,9,1,13,7,OLY,11,864.0,3
421,"MANTZARIS, VANGELIS","MILUTINOV, NIKOLA","PAPAPETROU, IOANNIS","PRINTEZIS, GEORGIOS","SPANOULIS, VASSILIS",10,18,16,2,3,12,11,0.0,19,4,11,2,10,1,10,3,OLY,5,738.0,4
422,"MANTZARIS, VANGELIS","MILUTINOV, NIKOLA","PAPAPETROU, IOANNIS","PRINTEZIS, GEORGIOS","STRELNIEKS, JANIS",7,18,6,1,0,8,7,0.0,13,3,5,1,2,0,14,2,OLY,5,623.0,4
423,"MANTZARIS, VANGELIS","MILUTINOV, NIKOLA","PAPAPETROU, IOANNIS","SPANOULIS, VASSILIS","TILLIE, KIM",9,11,10,7,2,11,3,0.0,16,1,4,1,9,1,10,1,OLY,3,559.0,0
424,"MANTZARIS, VANGELIS","PAPANIKOLAOU, KOSTAS","PAPAPETROU, IOANNIS","PRINTEZIS, GEORGIOS","SPANOULIS, VASSILIS",7,9,2,3,1,9,8,0.0,11,2,5,0,2,0,10,3,OLY,3,340.0,4
425,"MANTZARIS, VANGELIS","PAPANIKOLAOU, KOSTAS","PAPAPETROU, IOANNIS","PRINTEZIS, GEORGIOS","STRELNIEKS, JANIS",3,7,4,2,0,5,5,0.0,8,3,5,1,3,0,5,0,OLY,2,316.0,4
426,"MARKOVIC, STEFAN","SHVED, ALEXEY","THOMAS, MALCOLM","VIALTSEV, EGOR","ZUBKOV, ANDREY",6,4,6,3,1,3,7,0.0,6,0,3,0,3,2,5,3,KHI,6,415.0,2
427,"MCCALLUM, RAY","MILOSAVLJEVIC, DRAGAN","NEDOVIC, NEMANJA","SHERMADINI, GIORGI","SUAREZ, CARLOS",11,9,6,1,2,5,5,0.0,5,3,5,0,5,0,15,2,MAL,6,484.0,2
428,"MCCALLUM, RAY","NEDOVIC, NEMANJA","SHERMADINI, GIORGI","SUAREZ, CARLOS","WACZYNSKI, ADAM",8,7,7,4,2,9,3,0.0,13,1,6,3,3,0,9,2,MAL,5,449.0,6
429,"MCCALLUM, RAY","SALIN, SASU","SHERMADINI, GIORGI","SUAREZ, CARLOS","WACZYNSKI, ADAM",11,11,7,2,2,8,5,0.0,12,1,2,1,7,1,10,3,MAL,7,530.0,8
430,"MCLEAN, JAMEL","PAPANIKOLAOU, KOSTAS","PAPAPETROU, IOANNIS","SPANOULIS, VASSILIS","STRELNIEKS, JANIS",0,9,8,1,0,8,4,0.0,8,1,9,1,2,1,8,1,OLY,4,368.0,1
431,"MCLEAN, JAMEL","PAPANIKOLAOU, KOSTAS","PRINTEZIS, GEORGIOS","ROBERTS, BRIAN","STRELNIEKS, JANIS",8,7,4,2,1,7,5,0.0,16,6,9,0,3,1,11,5,OLY,6,467.0,6
432,"MCLEAN, JAMEL","PAPAPETROU, IOANNIS","PRINTEZIS, GEORGIOS","ROBERTS, BRIAN","SPANOULIS, VASSILIS",11,9,9,1,1,6,7,0.0,10,7,16,0,8,1,13,0,OLY,6,569.0,1
433,"MCLEAN, JAMEL","PAPAPETROU, IOANNIS","ROBERTS, BRIAN","STRELNIEKS, JANIS","THOMPSON, HOLLIS",4,5,6,3,2,4,8,0.0,8,0,4,1,4,0,8,0,OLY,5,403.0,2
434,"MCLEAN, JAMEL","ROBERTS, BRIAN","STRELNIEKS, JANIS","THOMPSON, HOLLIS","WILTJER, KYLE",4,4,3,6,2,5,10,0.0,8,1,4,0,1,2,9,0,OLY,4,378.0,5
435,"MELLI, NICOLO","NUNNALLY, JAMES","SLOUKAS, KOSTAS","THOMPSON, JASON","WANAMAKER, BRAD",13,12,4,4,2,10,10,0.0,13,2,8,0,6,1,11,9,ULK,4,678.0,3
436,"MELLI, NICOLO","NUNNALLY, JAMES","SLOUKAS, KOSTAS","VESELY, JAN","WANAMAKER, BRAD",12,14,8,4,2,9,9,0.0,11,2,5,2,3,0,7,7,ULK,10,876.0,8
437,"MILUTINOV, NIKOLA","PAPANIKOLAOU, KOSTAS","PAPAPETROU, IOANNIS","PRINTEZIS, GEORGIOS","ROBERTS, BRIAN",11,14,3,1,1,8,6,0.0,16,0,4,2,1,3,12,2,OLY,7,542.0,4
438,"MILUTINOV, NIKOLA","PAPANIKOLAOU, KOSTAS","PRINTEZIS, GEORGIOS","ROBERTS, BRIAN","SPANOULIS, VASSILIS",15,14,16,8,4,16,17,0.0,19,4,16,1,13,0,20,7,OLY,6,1061.0,3
439,"MILUTINOV, NIKOLA","PAPANIKOLAOU, KOSTAS","PRINTEZIS, GEORGIOS","ROBERTS, BRIAN","STRELNIEKS, JANIS",12,16,6,3,2,11,12,0.0,17,0,8,0,9,1,14,4,OLY,10,739.0,5
440,"MILUTINOV, NIKOLA","PAPANIKOLAOU, KOSTAS","PRINTEZIS, GEORGIOS","ROBERTS, BRIAN","THOMPSON, HOLLIS",23,25,14,4,3,16,8,1.0,34,1,5,1,9,1,18,8,OLY,14,1174.0,8
441,"MILUTINOV, NIKOLA","PAPAPETROU, IOANNIS","PRINTEZIS, GEORGIOS","ROBERTS, BRIAN","SPANOULIS, VASSILIS",18,19,5,2,0,15,12,0.0,14,2,13,2,10,0,12,4,OLY,7,864.0,8
442,"MILUTINOV, NIKOLA","PAPAPETROU, IOANNIS","PRINTEZIS, GEORGIOS","ROBERTS, BRIAN","THOMPSON, HOLLIS",7,9,3,3,0,9,6,0.0,10,1,4,1,4,1,6,1,OLY,3,425.0,4
443,"MILUTINOV, NIKOLA","PAPAPETROU, IOANNIS","ROBERTS, BRIAN","SPANOULIS, VASSILIS","THOMPSON, HOLLIS",3,8,3,4,1,5,5,0.0,7,2,5,1,1,0,9,2,OLY,5,390.0,1
444,"MILUTINOV, NIKOLA","PAPAPETROU, IOANNIS","ROBERTS, BRIAN","SPANOULIS, VASSILIS","TILLIE, KIM",2,13,4,2,0,6,8,0.0,10,0,2,0,3,1,2,0,OLY,9,538.0,5
445,"MILUTINOV, NIKOLA","PAPAPETROU, IOANNIS","ROBERTS, BRIAN","STRELNIEKS, JANIS","THOMPSON, HOLLIS",5,5,3,3,0,7,7,0.0,11,1,6,2,1,2,6,0,OLY,5,390.0,4
446,"MILUTINOV, NIKOLA","PRINTEZIS, GEORGIOS","ROBERTS, BRIAN","STRELNIEKS, JANIS","THOMPSON, HOLLIS",5,3,3,2,1,3,6,0.0,8,2,7,0,0,0,9,2,OLY,4,433.0,1